.comment-box
  flex(flex-end, flex-start)
  margin auto
  width 100%
  > .textarea
    border-radius .25rem
    box-shadow 0rem 0rem .35rem subtitleColor
    padding 1rem
    resize none
    width 100%