.pure-form
  flex(center, center)
  padding 1rem 0 .5rem
  margin 1rem auto 0
  max-width 80rem
  width 100%
  > h4
    margin 0
    width 100%
  > fieldset
    margin auto
    width 95%
  .input,
  .pure-button
    width 100%
    +media(mobile)
      width 50%
  .input
    +media(desktop)
      width 70%
  .pure-button
    +media(desktop)
      width 30%