.tab-panel
  flex(center, center)
  color white
  font-size 1.25rem
  list-style none
  text-shadow .15rem .15rem rgba(black, .5)
  width 100%
  > .tab
    background-color darken(primary, 10%)
    cursor pointer
    padding 1rem
    width 50%
    &:hover,
    &.active
      background-color darken(primary, 25%)