.thread-header
  color subtitleColor
  flex(flex-start, space-between)
  font-size 1rem
  margin-bottom .25rem
  text-decoration none
  > .user
    font-size 1.25rem
    font-weight 500
    max-width calc(100% - 7rem)
  > .date
    color subtitleColor
    font-size .85rem
    font-weight 500
    max-width 7rem