.thread-comment-box
  margin auto
  max-width 80rem
  padding 2rem 1.5rem
  text-align left
  width 100%
  > .textarea
    +media(desktop)
      height calc(100vh - 15rem)
      min-height unset
    box-shadow 0rem 0rem .25rem subtitleColor
    min-height 100vh
    padding 1rem
    resize none
    width 100%