nav(class="menu-top")
  section.container
    .links
      a(
        @click="goBack"
        class="link"
        v-if="back"
      )
        i.fas.fa-arrow-left
      p.link {{title}}
    a(v-if="getLogin" class="link" @click="logout" title="Logout")
      i.fas.fa-user
    router-link(v-else class="link" to="/login" title="Login")
      i.fas.fa-user
